.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    color: white;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.sidebar ul li.expandable1 {
    cursor: pointer;
}

.sidebar ul li.expandable1:hover {
    background-color: #555;
}

.sidebar ul li.expandable1 ul.submenu1 {
    display: none;
}

.sidebar ul li.expandable1.active ul.submenu1 {
    display: block;
}

.sidebar ul li ul.submenu1 li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 6px 8px;
    display: block;
}

.sidebar ul li ul.submenu1 li a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content div {
    margin-bottom: 10px;
}

.content button {
    margin-right: 10px;
}

.body-content {
    padding-left: 250px; /* Adjust according to your sidebar width */
}

#Frame {
    width: calc(100% - 250px); /* Adjust according to your sidebar width */
    height: 100vh; /* 100% of the viewport height */
}

