body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}
h1 {
    text-align: center;
}
.flag-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-size: cover;
}
.button-container {
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    margin-right: 10px;
}
button.active {
    background-color: #007bff;
    color: #fff;
}
.slider-container {
    margin-bottom: 20px;
}
input[type="range"] {
    width: 50%; /* Make slider width equal to parent width */
    margin-top: 5px;
}
#fcp-chart {
    width: 100%; /* Make chart width equal to parent width */
    height: 400px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #d4d4d4;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

button.active {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}